.button {
    width: 100%;
    border: solid transparent;
    background-color: teal;
    cursor: pointer;
    border-radius: 5px;
    color: aliceblue;
    padding: 10px;
}

.button:hover {
    background-color: rgba(0, 128, 128, 0.829);
    transition: 0.3s;
    border: solid black;
}

.button:active {
    background-color: rgba(0, 128, 85, 0.678);
    transition: 0.3s;
    
}