html {
  box-sizing: border-box;
}

*,
::before ::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.app {
  width: 1000px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}